<ion-header>
  <ion-toolbar>
    <ion-title>Products Page</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="records">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-title> Name</ion-card-title>
          <div>
            {{ records[1].Name}}
          </div>
          <div>
            {{ records[0].Name}}
          </div>
        </ion-col>
        <ion-col>
          <ion-card-title>Type</ion-card-title>
          <div>
            {{records[1].attributes.type}}
          </div>
          <div>
            {{records[0].attributes.type}}
          </div>

        </ion-col>
        <ion-col>
          <ion-card-title>Url</ion-card-title>
          <div>
            {{records[1].attributes.url}}
          </div>
          <div>
            {{records[0].attributes.url}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>